*{
    overflow: auto;
}
body{
    background-color: #8BA1BB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
p.categorie{
    background-color: #000;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    margin-top: -16px;
}
div.categorie{
    margin-bottom: 0px;
    overflow: visible;
}
h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
}
div.content{
    padding: 0px 8px 20px 8px;
    margin: 40px 8px 40px 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: visible;
}
.centre{
    text-align: center;
    width: 100%;
}
p.description{
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
}
div.info{
    position: relative;
}
div.info img{
    width: 100%;
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgrey;
}
div.info table{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #6C829DC0;
    color: #fff;
    height: 50px;
}

div.info table td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
div.info table th{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 6px;
}
div.colonne{
    width: 100%;
    margin-top: 20px;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 5px solid #6C829D;
    margin-bottom: 20px;
}
div.col-1{
    display: inline-block;
}
div.ingredients p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgrey;
    padding: 8px 0;
    margin-top: 0;
    margin-bottom: 5px;
}
div.preparation table tr{
    height: 40px;
}
div.preparation table td{
    vertical-align: top;
}

div.preparation table td:last-child{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

div.preparation table p.numero{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #6C829D;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    padding-top: 4px;
    border-radius: 80%;
    margin: 0;
}

/* For PC: */
@media only screen and (min-width: 768px) {
    div.content{
        padding: 0px 30px 30px 30px;
        margin: 60px 10% 50px 10%;
        min-width: 350px;
    }
    div.info table{
        height: 80px;
    }
    div.info table td{
        font-size: 14px;
    }
    div.info table th{
        font-size: 16px;
    }
    div.colonne{
        width: 45%;
    }
    div.col-2{
        float: right;
    }

  }

  @media only screen and (min-width: 960px) {
    div.content{
        margin-left: auto;
        margin-right: auto;
        width: 685px;
    }
    
  }
    
